html, head, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    text-align:center; 
    width: 100%;
    position: relative;
}
body {
	overflow-x: hidden;
	background-image: url("Background.png");
    background-size: 100%;
    background-color: #0f100f;
    background-repeat: no-repeat;
    text-align:center;  
    width: 100%;
    position: relative;
}

textarea {
  resize: none;
}

.Container {
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    margin: auto;
    padding: 0%;
    text-align:center; 
    width: 100%;
    position: absolute;
  }

.ContinueWith {
    height: 30vw;
    width: 20vw;
    padding: 0%; 
    border-radius: 10px;
    border-color: #141514;
    border-style: solid;
    margin-left: auto;
    margin-top: 12%;
    margin-right: auto;
    margin-bottom: auto;
    position:relative;
}


.Account {
    width: 18vw;
    height: 4vw;
    font-size: 1vw;
    color: white;
    background-color: #141514;
    border-color: #1B1C1B;
    margin-top: 3%;
}

.registerbtn {
    width: 18vw;
    height: 4vw;
    font-size: 1vw;
    color: white;
    background-color: #141514;
    border-color: #1B1C1B;
    margin-top: 14%;
}

.Guest {
    width: 18vw;
    height: 4vw;
    font-size: 1vw;
    color: white;
    background-color: #141514;
    border-color: #1B1C1B;
    margin-top: 14%;
}