html, head, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    text-align:center; 
    width: 100%;
    position: relative;
}
body {
	overflow-x: hidden;
    background-size: 100%;
    background-color: #0f100f;
    background-repeat: no-repeat;
    text-align:center;  
    width: 100%;
    position: relative;
}

textarea {
  resize: none;
}

.Container {
  width: 1vw;
  height: 20vw;
  left: auto;
  top: 0%;
  right: auto;
  margin: auto;
  padding: 0%;
  text-align:center; 
  position: absolute;
}

.ContinueWith {
  height: 34vw;
  width: 18vw;
  padding: 0%; 
  border-radius: 10px;
  border-color: #141514;
  border-style: solid;
  margin-left: 40vw;
  margin-top: 9vw;
  margin-right: auto;
  margin-bottom: auto;
  position:absolute;
}

.registerbtn {
  width: 12vw;
  height: 2.4vw;
  margin-top: 1vw;
  background-color: #1a1a1a;
  border-color: #1a1a1a;
  color: white;
  font-size: 1.2vw;
  position: relative;
}

.Create {
  width: 12vw;
  margin-top: 4vw;
  height: 4.8vw;
  background-color: #1a1a1a;
  border-color: #1a1a1a;
  color: white;
  font-size: 1.2vw;
  position: relative;
}